* {
    font-size: 25px;
    text-align: center;
    font-family: monospace;
    background-color: grey;
    box-sizing: border-box
} 
.header{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
#calc{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 75vh;
    overflow: hidden;
    background-color: grey;
}
#container{
    padding: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    outline: 2px solid black;
    width: 500px;
    height: 450px;
    overflow: hidden;
    outline-width: 10px;
    display: -ms-inline-grid;
}
.output {
    background-color:white;
    display: block;
    margin: 10px 0;
    padding: 10px;
    height: 70px;
    font-size: 25px;
}
.operators{
    width: 90px;
    height: 100px;
    background-color: gold;
    border-radius: 5%;
    
}
.equals{
    width: 90px;
    height: 100px;
    background-color: gold;
    border-radius: 5%;
}
.box{
    width: 100px;
    height: 70px;
    border-radius: 5%;
    background-color: aqua;
    font-size: 25px;
}
.clear{
    width: 200px;
    height: 70px;
    border-radius: 5%;
    background-color: red;
}
#clear{
}